################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/basic-aircraft-performance-calculator/FileContentIndex/33f359a0-a624-4b48-bed7-bfcd3b6e2d06.vsidx
/.vs/basic-aircraft-performance-calculator/FileContentIndex/a154a9f8-313d-44c2-b8a1-1e77fa1770e5.vsidx
/.vs/basic-aircraft-performance-calculator/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/basic-aircraft-performance-calculator-csharp.AssemblyInfo.cs
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/basic-aircraft-performance-calculator-csharp.AssemblyInfoInputs.cache
/basic-aircraft-performance-calculator-csharp/bin/Debug/net8.0/basic-aircraft-performance-calculator-csharp.dll
/basic-aircraft-performance-calculator-csharp/bin/Debug/net8.0/basic-aircraft-performance-calculator-csharp.exe
/basic-aircraft-performance-calculator-csharp/bin/Debug/net8.0/basic-aircraft-performance-calculator-csharp.pdb
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/apphost.exe
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/basic-aircraft-performance-calculator-csharp.dll
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/basic-aircraft-performance-calculator-csharp.pdb
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/basic-aircraft-performance-calculator-csharp.sourcelink.json
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/ref/basic-aircraft-performance-calculator-csharp.dll
/basic-aircraft-performance-calculator-csharp/obj/Debug/net8.0/refint/basic-aircraft-performance-calculator-csharp.dll
